.profileScreen {
    height: 100vh;
    color: white;
  }

  .profileScreenbody{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    max-width: 800px;
  }

  .profileScreenbody>h1{
    font-size: 50px;
    font-weight: 400;
    border-bottom: 1px solid #282c2d;
    margin-bottom: 20px;
  }

  .profileScreenInfo{
    display: flex;
  }

  .profileScreenInfo>img{
    height: 100px;
  }

  .profileScreenDetails{
    color: white;
    margin-left: 25px;
    flex: 1;
  }

  .profileScreenDetails>h2{
    background-color: gray;
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
  }

  .profileScreenPlans{
    margin-top: 20px;
  }

  .profileScreenPlans > h3 {
    border-bottom: 1px solid #282c2d;
    padding-bottom: 10px;
  }

  .profileScreenSignOut {
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 5%;
    width: 100%;
    color: #fff;
    background-color: #e50914;
    cursor: pointer;
    border: none;
  }

  @media all and   (max-width: 600px){
    .profileScreenbody {
      padding-top: 23%;
      width: 100%;
  }
  .profileScreenInfo{
    flex-direction: column;
    justify-content:center;
    align-items:  center;
  }
  .profileScreenInfo>img {
    height: 50px;
    width: 50px;
}
.profileScreenDetails>h2 {
  margin-top: 10px;
}
.profileScreenbody>h1{
  font-size: 37px;
  text-align: center;
 }

}